# Exporting Data to SQL Server

In [1]:
# imports pandas, a package for data manipulation and analysis
import pandas as pd  

# imports pyodbc, an open source Python package that makes accessing ODBC databases simple
import pyodbc

# imports sqlalchemy, a SQL toolkit that gives application developers the full power and flexibility of SQL
import sqlalchemy

In [2]:
# imports a sample Super Store dataset provided by Tableau
SuperStoreData = pd.read_excel(r'C:\Users\timen\Documents\Data Sets\SuperStoreData.xlsx')

In [3]:
SuperStoreData.head(5)

,Days to Ship Actual,Sales Forecast,Ship Status,Days to Ship Scheduled,Sales per Customer,Profit Ratio,Category,City,Country,Customer Name,...,Profit,Quantity,Region,Profit per Order,Sales,Segment,Ship Date,Ship Mode,State,Sub-Category
0,3,392,Shipped On Time,3,261.96,0.160,Furniture,Henderson,United States,Claire Gute,...,42,2,South,41.91,262,Consumer,2016-11-11,Second Class,Kentucky,Bookcases
1,3,1096,Shipped On Time,3,731.94,0.300,Furniture,Henderson,United States,Claire Gute,...,220,3,South,219.58,732,Consumer,2016-11-11,Second Class,Kentucky,Chairs
2,4,22,Shipped Late,3,14.62,0.470,Office Supplies,Los Angeles,United States,Darrin Van Huff,...,7,2,West,6.87,15,Corporate,2016-06-16,Second Class,California,Labels
3,7,1434,Shipped Late,6,957.58,-0.400,Furniture,Fort Lauderdale,United States,Sean O'Donnell,...,-383,5,South,-383.03,958,Consumer,2015-10-18,Standard Class,Florida,Tables
4,7,33,Shipped Late,6,22.37,0.113,Office Supplies,Fort Lauderdale,United States,Sean O'Donnell,...,3,2,South,2.52,22,Consumer,2015-10-18,Standard Class,Florida,Storage

In [4]:
# sets up an engine for an SQLAlchemy application, defining how to connect with a database
engine = sqlalchemy.create_engine("mssql+pyodbc://enallst:Space72446@SQLServerConnectionExample")

In [5]:
# exports the dataset to a table called "SuperStoreDataFromPython" under the database associated with the ODBC connection
SuperStoreData.to_sql("SuperStoreDataFromPython", con=engine, if_exists='replace', index_label='index')

# Querying Data from SQL Server

In [6]:
# queries data from the same table containing the sample Super Store data
query1 = "SELECT * FROM [master].[dbo].[SuperStoreDataFromPython]"
SuperStoreData = pd.read_sql(query1, engine)

SuperStoreData.head()

,index,Days to Ship Actual,Sales Forecast,Ship Status,Days to Ship Scheduled,Sales per Customer,Profit Ratio,Category,City,Country,...,Profit,Quantity,Region,Profit per Order,Sales,Segment,Ship Date,Ship Mode,State,Sub-Category
0,0,3,392,Shipped On Time,3,261.96,0.160,Furniture,Henderson,United States,...,42,2,South,41.91,262,Consumer,2016-11-11,Second Class,Kentucky,Bookcases
1,1,3,1096,Shipped On Time,3,731.94,0.300,Furniture,Henderson,United States,...,220,3,South,219.58,732,Consumer,2016-11-11,Second Class,Kentucky,Chairs
2,2,4,22,Shipped Late,3,14.62,0.470,Office Supplies,Los Angeles,United States,...,7,2,West,6.87,15,Corporate,2016-06-16,Second Class,California,Labels
3,3,7,1434,Shipped Late,6,957.58,-0.400,Furniture,Fort Lauderdale,United States,...,-383,5,South,-383.03,958,Consumer,2015-10-18,Standard Class,Florida,Tables
4,4,7,33,Shipped Late,6,22.37,0.113,Office Supplies,Fort Lauderdale,United States,...,3,2,South,2.52,22,Consumer,2015-10-18,Standard Class,Florida,Storage

In [7]:
# another query from the table containing the sample Super Store data; a more proper SQL code layout is shown
query2 = """
SELECT * 
FROM [master].[dbo].[SuperStoreDataFromPython]
WHERE [Ship Status] = 'Shipped Late' AND Profit > '6'
"""

SuperStoreData2 = pd.read_sql(query2, engine)

SuperStoreData2.head()

,index,Days to Ship Actual,Sales Forecast,Ship Status,Days to Ship Scheduled,Sales per Customer,Profit Ratio,Category,City,Country,...,Profit,Quantity,Region,Profit per Order,Sales,Segment,Ship Date,Ship Mode,State,Sub-Category
0,2,4,22,Shipped Late,3,14.62,0.470,Office Supplies,Los Angeles,United States,...,7,2,West,6.87,15,Corporate,2016-06-16,Second Class,California,Labels
1,16,7,997,Shipped Late,6,665.88,0.020,Office Supplies,Madison,United States,...,13,6,Central,13.32,666,Consumer,2014-11-18,Standard Class,Wisconsin,Storage
2,19,5,320,Shipped Late,3,213.48,0.075,Technology,San Francisco,United States,...,16,3,West,16.01,213,Consumer,2014-09-01,Second Class,California,Phones
3,20,5,34,Shipped Late,3,22.72,0.325,Office Supplies,San Francisco,United States,...,7,4,West,7.38,23,Consumer,2014-09-01,Second Class,California,Binders
4,26,4,136,Shipped Late,3,90.57,0.130,Technology,Los Angeles,United States,...,12,3,West,11.77,91,Consumer,2016-01-20,Second Class,California,Accessories